html {
    font-size: 10px;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    min-width: 800px;
    height: 8hv;
    background-color: white;

    /* max-width: 1440px; */
}

a {
    text-decoration: none;
    color: #332200;
}

.banner {
    background-color: black;
    max-height: 807px;

}

.banner-menu {
    font-weight: 500;
    font-size: 1.8rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 1%;

}

.banner-menu-logo {
    font-size: 3.6rem;
    width: 55%;
    margin-left: 10%;
}

.banner-menu>div>a:hover{
    color: #CCCCCC;
    transition: 0.5s;
}

.banner-menu>div>a {
    color: white;
}

.banner-menu-logo,
.banner-menu-item1,
.banner-menu-item2,
.banner-menu-item3 {
    padding-right: 2%;
}

.banner-content {
    color: #FFFFFF;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.banner-desc-title {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 72px;
}

.yellow-dot {
    color: #F6AD09;
}

.banner-desc-text {
    color: #B2B2B2;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 36px;
    width: 85%;

}

.banner-desc-btn {
    background-color: #F6AD09;
    font-weight: 600;
    font-size: 1.8rem;
    color: #332200;
    width: 220px;
    text-align: center;
    padding: 3%;
    border-radius: 5px;
}

.banner-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 3%;

}

.banner-desc-title,
.banner-desc-text,
.banner-desc-btn {
    margin-top: 5%;
}

.banner-img {
    position: relative;
    top: 40px;
    right: 40px;
}

.banner-img>img {
    width: 100%;
}

.cards-title {
    font-weight: 600;
    font-size: 6.4rem;
    padding: 10% 0 4% 10%;
}

.cards-screen {
    background-color: white;
    padding-bottom: 10%;
    margin: 0 auto;
    max-width: 1440px;
}

.cards-wrap {
    background-color: white;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.card-img>img {
    width: 100%;
}

.card-model {
    font-weight: 600;
    font-size: 32px;
    display: flex;
    align-items: center;

}

.rctngl-yellow {
    width: 22px;
    height: 10px;
    background-color: #F6AD09;
    margin-right: 15px;
}

.card-price {
    color: #595959;
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Roboto';
}

.tech-screen {
    background-color: #111111;
}

.tech {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}


.tech-text1 {
    font-weight: 500;
    font-size: 2.4rem;
    color: #B2B2B2;
    letter-spacing: 0.015em;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.tech-text2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 72px;
    width: 90%;
}

.tech-text3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #B2B2B2;
    width: 90%;
}

.tech-text4 {
    font-weight: 600;
    font-size: 24px;
    color: #FFBB00;
    border-bottom: 4px solid #FFBB00;
    width: 45%;
}


.tech-block-title {
    font-weight: 500;
    font-size: 2.4rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.tech-block-title-wrap {
    display: flex;
    align-items: center;
}

.tech-block-desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #B2B2B2;
    padding-top: 5%;
    width: 90%;
}

.tech-blocks {
    margin-top: 10%;
    display: flex;
}

.tech-left-block {
    margin-left: 10%;
    width: 40%;
}

.tech-right-block {
    width: 50%;
    scale: 1.05;
    /* я на 99%, що це не правильно, і логічно розумію, що потрібно вирішити питання бекграундом, але не знаю як ( */
}

.tech-text1,
.tech-text2,
.tech-text3 {
    padding-bottom: 5%;
}

.tech-img {
    width: 85%;
}

.tech-img>img {
    width: 100%;
}

.tech-block {
    padding: 0 0 0 0;
}

.logo-items-row,
.logo-items-row2 {
    display: flex;
    justify-content: center;
}

.logo-items-row2 {
    padding-bottom: 5%;
}

.logo-title {
    font-weight: 600;
    font-size: 6.4rem;
    padding: 10% 0 4% 10%;
}

.logo-screen {
    background-color: white;

}

.logo-wrap {
    margin: 0 auto;
    max-width: 1440px;
}

.logo-item-border {
    width: 20%;
    margin: 1%;
    padding-bottom: 1%;
}

.logo-item-border>img {
    width: 100%;
}



.yellow {
    display: flex;
    background: #FFBB00;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: -4px;
    /* Переробив блок, але внизу блоку вилазить бекграунд на пару пікселів, 
    тому що лівий і правий блок різної висоти. Викрутився костилем((( 
    Не знаю чому так, десь глобально видно якесь правило вказав, але в налагоджувачі не знайшов нічого*/

}

.yellow-text-block {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-size: 3.6rem;
    align-self: flex-end;
    width: 55%;
    margin-bottom: 5%;
}

.yellow-text {
    line-height: 48px;
}

.yellow-img {
    width: 45%;
}

.yellow-img>img {
    width: 100%;
}


.yellow-author {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
}

.yellow-text {
    margin: 0 20% 0 10%;
}

.yellow-author {
    margin: 2% 20% 0 10%;
}

.quotes1 {
    color: #e4a30b;
    margin-left: -5%;

}

.quotes2{
    color: #e4a30b;
}

.prices {
    background: #161616;
    padding-bottom: 5%;
    padding-top: 3%;
}

.prices-wrap {
    margin: 0 auto;
    max-width: 1440px;
}

.prices-title {
    font-weight: 600;
    font-size: 6.4rem;
    padding-left: 10%;
    color: #FFFFFF;
}

.prices-cards {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10%;
    align-items: center;
}

.price-card1,
.price-card2 {
    display: flex;
    background: #000000;
    border-radius: 7px;
    padding: 3%;
}

.prices-cards-left {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.prices-cards-right {
    display: flex;
    flex-direction: column;
}

.prices-cards-left-title {
    font-weight: 600;
    font-size: 3.6rem;
    color: #9C9C9C;
    margin-bottom: 10%;

}

.prices-cards-left-list>ul {
    list-style-type: none;
    padding-bottom: 10%;
}

.prices-cards-left-list>ul>li {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.8rem;
    color: #FFFFFF;
    background-image: url('../img/Rectangle1.png');
    background-position: 0px 50%;
    background-size: 11px 4px;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-bottom: 10%;


}

.prices-cards-left-btn {
    font-weight: 600;
    font-size: 1.8rem;
    background: #2E2E2E;
    border-radius: 5px;
    display: inline;
    padding: 5%;
    text-align: center;

}

.prices-cards-left-btn>a {
    text-decoration: none;
    color: #CCCCCC;
}

.prices-cards-right>div:first-child {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 48px;
    color: #FFFFFF;
}

.prices-cards-right>div:last-child {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 16px;
    color: #9C9C9C;

}

.prices-cards-left-title,
.prices-cards-left-btn {
    margin-left: 30%;
}

.prices-cards-left-title-yellow {
    font-size: 3.6rem;
    margin-left: 30%;
    margin-bottom: 10%;
}

.price-card1:hover {
    scale: 1.1;
    transition: 0.5s;
}

.price-card2:hover {
    scale: 1.1;
    transition: 0.5s;
}


.prices-cards-left-title:hover {
    color: #FFBB00;
}


.footer {
    background: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.015em;
    color: #B2B2B2;

}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 2%;
    margin: 0 auto;
    max-width: 1440px;
}

.footer-contacts-social {
    display: flex;
    align-items: center;
}

.footer-contacts-social>div {
    margin-right: 10%;
}


.footer-contacts-title,
.footer-menu-title {
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    text-transform: uppercase;
}


.footer-menu-list>ul>li>a:hover {
    color: #FFBB00;
    transition: 0.5s;
}


.footer-menu-list>ul>li {
    margin-bottom: 10%;
    list-style: none;

}

.footer-menu-list>ul>li>a {
    color: white;
}



.footer-menu-list>ul {
    padding: 0;
    margin: 0;
    margin-top: 15%;

}

.footer-contacts-text1,
.footer-contacts-text2,
.footer-contacts-social {
    margin-top: 15%;
}

.footer-contacts-text1-row2,
.footer-contacts-text2-row2 {
    padding-top: 3%;
}

.footer-rights {
    padding-bottom: 2%;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-contacts-text1-row1>a {
    color: #B2B2B2;
}

.footer-contacts-text1-row2>a {
    color: #B2B2B2;
}
