html {
    font-size: 8px;
    /* Головний косяк, якщо ставлю 10, то в розмірі 755, як в макеті все виглядає не так як потрібно */
    font-family: 'Work Sans', sans-serif;

}

body {
    margin: 0;
    padding: 0;

}

span {
    font-weight: 400;
}

section {
    max-width: 1920px;
    margin: 0 auto;
    background: #FFB084;
    border-radius: 20px;

}

.grid>div {
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    font-size: 1.8rem;
    /* padding: 1.5% 3%; */
}

.grid>div{
    padding: 5%
}


.grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: 14px 22px;
    padding: 4% 5% 8% 5%;

}

.grid>div:nth-child(1) {
    grid-row: 1/6;

}

.grid>div:nth-child(2) {
    grid-row: 6/7;
}

.grid>div:nth-child(3) {
    grid-row: 1/3;
    grid-column: 2/4;
}

.grid>div:nth-child(4) {
    grid-row: 3/5;
    box-shadow: 7px 7px 0px #29A71E;
}

.grid>div:nth-child(5) {
    grid-row: 3/6;
    box-shadow: 7px 7px 0px #E13535;
}

.grid>div:nth-child(6) {
    grid-row: 5/7;
    box-shadow: 7px 7px 0px #3675B0;
}

.grid>div:nth-child(7) {
    grid-row: 6/7;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.age {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: 700;
    font-size: 2.4rem;
}

.bio-details {
    font-weight: 600;
    font-size: 1.2rem;
}

.avatar {
    width: 60%;
    text-align: center;
}

.avatar>img {
    width: 70%;
}

.bio-details>div {
    margin-top: 5%;
}

.bio-card {
    font-size: 1.4rem;
}

.bio-details {}

.grid>div:nth-child(2) {
    display: flex;
    align-items: center;
}

.grid>div:nth-child(2)>span {
    font-weight: 700;
    padding-left: 3%;

}

.grid>div:nth-child(3)>div:nth-child(1) {
    font-weight: 700;
}


.grid>div:nth-child(3)>div:nth-child(1) {
    font-weight: 700;
}

.goals {
    color: #29A71E;
    font-weight: 700;
    font-size: 1.4rem;
}

.goals>ul {
    color: #000000;
    font-weight: 400;
}

.dream {
    color: #3675B0;
    font-weight: 700;
    font-size: 1.4rem;
}

.dream>ul {
    color: #000000;
    font-weight: 400;
}

.frustrations {
    color: #E13535;
    font-weight: 700;
    font-size: 1.4rem;
}

.frustrations>ul {
    color: #000000;
    font-weight: 400;
}

.personality {
    font-weight: 700;
}

.personality>div:last-child {
    color: #000000;
    font-weight: 400;
}

.goals>div:first-child,
.frustrations>div:first-child,
.dream>div:first-child,
.personality>div {
    padding-left: 7%;

}

ul {
    margin: 0;
    margin-left: 0%;
}

ul>li {}

.bio-card>div:first-child,
.goals>div:first-child,
.frustrations>div:first-child,
.dream>div:first-child,
.personality>div:first-child {
    padding-bottom: 7px;

}




@media screen and (min-width:768px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width:1024px) {
    html {
        font-size: 12px;

    }
}

@media screen and (min-width:1440px) {
    html {
        font-size: 16px;

    }

    ul {

        margin-left: 8%;
    }
}

@media screen and (min-width:1920px) {
    html {
        font-size: 18px;
    }
}