html {
    font-size: 10px;
    font-family: 'Rosario', sans-serif;
    background-color: white;
}

main{
    overflow: hidden;
}

body {
    margin: 0;
    margin: 0 auto;
    background-color: white;
    max-width: 1920px;

}

a {
    text-decoration: none;
    color: white;
}



.nav>div>a {
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFFFF;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;

}

.header-wrap {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFCFC;
    max-height: 10vh;
    overflow: hidden;

}

.logo {
    background-color: white;
    width: 20%;
}

.logo>a>img {
    width: 100%;
}

.nav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding-left: 30%;
}

.screen1 {
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-center {
    display: flex;
    flex-direction: column;
    padding: 0 1%;
}

.img-center1,
.img-center2 {
    display: flex;
    flex-direction: row;
}

.img-left {
    padding-left: 1%;
    padding-right: 2%;

}

.img-left>img {
    width: 100%;
}

.img-right {
    padding-left: 2%;
    padding-right: 1%;
}

.img-right>img {
    width: 100%;
}

.img2>img {
    width: 100%;
}

.img3>img {
    width: 100%;
}

.img4>img {
    width: 100%;
}

.img5>img {
    width: 100%;
}

.img-center1 {
    margin-bottom: 2%;
}


.img-center1>div:first-child {
    margin-right: 2%;
}

.img-center2>div:first-child {
    margin-right: 2%;
}

.screen2 {
    font-style: italic;
    font-weight: 700;
    font-size: 4.8rem;
    display: flex;
    justify-content: space-between;
    /* min-height: 90vh; */


}

.screen2-left {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 50%;
    position: relative;
}


.screen2-left>div {
    margin: 5%;
    position: absolute;
    width: 40%;
    height: 50%;
}

.screen2-right {
    width: 50%;
}

.screen2-right>img {
    width: 100%;
}

.screen3 {
    font-weight: 700;
    font-size: 9.6rem;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.portraits-block {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}


.portraits-block>div {
    margin: 0 2%;
    position: relative;
}

.portraits-block-name1 {
    position: absolute;
    left: 0;
    bottom: 3%;
    width: 100%;
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    text-align: center;
    color: #FFFAFA;
    background: rgba(163, 83, 10, 0.7);
    padding: 11% 0%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: block;
    opacity: 0;


}

.portraits-block-port1:hover .portraits-block-name1 {
    display: block;
    opacity: 1;
    transition: 2s;

}

.screen3:hover .portraits-block-port1 {
    filter: brightness(0.5);
    transition: 1s;
}

.portraits-block-port1:hover {
    filter: brightness(1) !important;
}

.portraits-block-port1>a>img {
    width: 100%;
}




.footer-left-title {
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    width: 80%;
    text-align: center;
    margin-bottom: 5%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
    width: 60%;
}

.footer-rights {
    width: 40%;
}

form {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form1 {
    display: flex;
    justify-content: space-around;
}

.form2 {

    display: flex;

}

.form1>input {
    width: 50%;
    height: 80px;
    margin: 3%;
}

.form2>input {
    width: 100%;
    min-height: 209px;
    margin: 3%;
}

::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    color: rgba(0, 0, 0, 0.5);


}

.footer-wrap {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-contacts {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    display: flex;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}


span {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
}

.footer-contacts3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    height: 100%;
}

.footer-contacts2>div:first-child {
    margin-bottom: 8%;
}

.footer-social {
    text-align: left;

}

.footer-social>div>img {
    margin-right: 15px;
    width: auto;

}

.img2,
.img3 {
    transform: translate(-100vh);
    transition: all 1s linear;
    animation: an1 1s 1s 1 reverse forwards;
    animation-duration: 2s;
    width: 100%;
}

@keyframes an1 {
    0% {
        transform: translate(0vh);
    }

    100% {
        transform: translate(-100vh);
    }
}

.img4,
.img5 {
    transform: translate(100vh);
    transition: all 1s linear;
    animation: an2 1s 1s 1 reverse forwards;
    animation-duration: 2s;
    width: 100%;
}

@keyframes an2 {
    0% {
        transform: translate(0vh);
    }

    100% {
        transform: translate(100vh);
    }
}

.img-left {
    transform: translate(-100vh);
    transition: all 1s linear;
    animation: an3 1s 2s 1 reverse forwards;
    animation-duration: 3s;
}

@keyframes an3 {
    0% {
        transform: translate(0vh);
    }

    100% {
        transform: translate(-100vh);
    }
}

.img-right {
    transform: translate(100vh);
    transition: all 1s linear;
    animation: an4 1s 2s 1 reverse forwards;
    animation-duration: 3s;
}

@keyframes an4 {
    0% {
        transform: translate(0vh);
    }

    100% {
        transform: translate(100vh);
    }
}


.screen2-left-1>img {
    width: 100%;
}

.screen2-left-2>img {
    width: 100%;
}

.screen2-left-3>img {
    width: 100%;
}

.screen2-left-4>img {
    width: 100%;
}



.screen2-left-1 {
    top: 0;
    left: 0;
    animation: left-1 10s linear infinite;
    animation-direction: reverse;


}



.screen2-left-2 {
    top: 0;
    left: 50%;
    animation: left-2 10s linear infinite;
    animation-direction: reverse;
}



.screen2-left-3 {
    top: 50%;
    left: 50%;
    animation: left-3 10s linear infinite;
    animation-direction: reverse;
}



.screen2-left-4 {
    top: 50%;
    left: 0%;
    animation: left-4 10s linear infinite;
    animation-direction: reverse;
}


@keyframes left-1 {
    from {
        top: 0;
        left: 0;
    }

    25% {
        top: 50%;
        left: 0;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    75% {
        top: 0;
        left: 50%;
    }

    to {
        top: 0;
        left: 0;
    }
}

@keyframes left-2 {
    from {
        top: 50%;
        left: 0;
    }

    25% {
        top: 50%;
        left: 50%;
    }

    50% {
        top: 0;
        left: 50%;
    }

    75% {
        top: 0;
        left: 0;
    }

    to {
        top: 50%;
        left: 0;
    }
}

@keyframes left-3 {
    from {
        top: 50%;
        left: 50%;
    }

    25% {
        top: 0;
        left: 50%;
    }

    50% {
        top: 0;
        left: 0;
    }

    75% {
        top: 50%;
        left: 0;
    }

    to {
        top: 50%;
        left: 50%;
    }
}

@keyframes left-4 {
    from {
        top: 0;
        left: 50%;
    }

    25% {
        top: 0;
        left: 0;
    }

    50% {
        top: 50%;
        left: 0;
    }

    75% {
        top: 50%;
        left: 50%;
    }

    to {
        top: 0;
        left: 50%;
    }
}





@media only screen and (max-width: 992px) {
    .nav {
        padding-left: 0;
        flex-wrap: wrap;
    }

    .img-left {
        order: 1;
    }

    .img-right {
        order: 2;
    }

    .img-center {
        order: 3;
    }

    .screen1 {
        flex-direction: column;
        flex-flow: wrap;
    }



    .img-left,
    .img2,
    .img3 {
        transform: translate(-100vh);
        transition: all 1s linear;
        animation: an3 1s 1s 1 reverse forwards;
    }

    .img-right,
    .img4,
    .img5 {
        transform: translate(100vh);
        transition: all 1s linear;
        animation: an4 1s 1s 1 reverse forwards;
    }

    .screen2{
        flex-direction: column;
    }
    .screen2-left {
        min-height: 75vh;
        
    }

    .screen2-left,
    .screen2-right {
        width: 100%;
        
    }

    .portraits-block>div {
        width: 40%;
    }

    .portraits-block {
        flex-flow: wrap;
    }

    .footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        width: 90%;
        margin: 0;
    }

    iframe {
        width: 100%;
        height: 500px;
    }

    .footer-contacts {
        margin-top: 1%;
    }

    .footer-contacts1 {
        margin-left: 2%;
    }

    .footer-contacts3 {
        margin-right: 2%;
    }

    .footer-wrap {
        flex-direction: column-reverse;

    }

    .footer {
        flex-direction: column;
    }

    html {
        font-size: 8px;
    }


}

@media only screen and (max-width: 768px) {

    .screen1,
    .img-left,
    .img-right,
    .img-center,
    .img-center1,
    .img-center2 {
        display: block;
    }

    .screen2-left>div {
        margin: 0;

    }

    .screen2 {
        margin: 3% 0;
    }

    .screen2-left {
        min-height: 60vh;
    }


    .img-left,
    .img4,
    .img5 {
        transform: translate(-100vh);
        transition: all 1s linear;
        animation: an3 1s 1s 1 reverse forwards;
    }

    .img3,
    .img2,
    .img-right {
        transform: translate(100vh);
        transition: all 1s linear;
        animation: an4 1s 1s 1 reverse forwards;
    }

    .screen2-right {
        display: none;
    }

    .portraits-block>div {
        width: 90%;
    }

    html {
        font-size: 6px;

    }


}