html {
    font-size: 10px;
    font-family: 'Rosario', sans-serif;
    background-color: silver;
}

body {
    margin: 0;
    margin: 0 auto;
    background-color: white;

}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

.nav>div>a {
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFFFF;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;

}

.header-wrap {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFCFC;
    max-height: 10vh;

}

.logo {
    background-color: white;
    width: 20%;
}

.nav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding-left: 30%;
}

.screen1 {
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-center {
    display: flex;
    flex-direction: column;
    padding: 0 1%;
}

.img-center1,
.img-center2 {
    display: flex;
    flex-direction: row;
}

.img-left{
    padding-left: 1%;
    padding-right: 2%;
}

.img-right{
    padding-left: 2%;
    padding-right: 1%;
}

.img-center1 {
    margin-bottom: 2%;
}


.img-center1>div:first-child {
    margin-right: 2%;
}

.img-center2>div:first-child {
    margin-right: 2%;
}

.screen2 {
    font-style: italic;
    font-weight: 700;
    font-size: 4.8rem;
    max-height: 90vh;
    display: flex;
    justify-content: space-between;
    min-height: 90vh;
    align-items: center;

}

.screen2-left {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 50%;
}

.screen2-left>div {
    margin: 5%;
}

.screen2-right{
    width: 50%;
}

.screen2-right>img {
    /* width: 100%;
    max-width: 1080px;
    height: auto; */
}

.screen3 {
    font-weight: 700;
    font-size: 9.6rem;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.portraits-block {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}


.portraits-block>div {
    margin: 0 2%;
    position: relative;
}

.portraits-block-name1 {
    position: absolute;
    left: 0;
    bottom: 3%;
    width: 100%;
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    text-align: center;
    color: #FFFAFA;
    background: rgba(163, 83, 10, 0.7);
    padding: 11% 0%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: none;


}

.portraits-block-port1:hover .portraits-block-name1{
    display: block;
    transition: .25s;
    
}

.portraits-block:hover .portraits-block-port1{
    filter: brightness(0.5)  ;
    transition: .25s;
}

.portraits-block-port1:hover {
    filter: brightness(1) !important;
}




.footer-left-title {
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    width: 80%;
    text-align: center;
    margin-bottom: 5%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
    width: 60%;
}

.footer-rights{
    width: 40%;
}

form {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form1 {
    display: flex;
    justify-content: space-around;
}

.form2 {

    display: flex;

}

.form1>input {
    width: 50%;
    height: 80px;
    margin: 3%;
}

.form2>input {
    width: 100%;
    min-height: 209px;
    margin: 3%;
}

::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    color: rgba(0, 0, 0, 0.5);


}

.footer-wrap {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-contacts {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    display: flex;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}


span {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
}

.footer-contacts3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    height: 100%;
}

.footer-contacts2>div:first-child {
    margin-bottom: 8%;
}

.footer-social {
    text-align: left;
    
}

.footer-social>div>img {
    margin-right: 15px;
    width: auto;
}

.img2,
.img3 {
    transform: translate(-100vh);
    transition: all 1s linear;
    animation: an1 1s 1s 1 reverse forwards;
}

@keyframes an1 {
    0% {
        transform: translate(0vh);
    }

    100% {
        transform: translate(-100vh);
    }
}

.img4,
.img5 {
    transform: translate(100vh);
    transition: all 1s linear;
    animation: an2 1s 1s 1 reverse forwards;
}

@keyframes an2 {
    0% {
        transform: translate(0vh);
    }

    100% {
        transform: translate(100vh);
    }
}

.img-left {
    transform: translate(-100vh);
    transition: all 1s linear;
    animation: an3 1s 2s 1 reverse forwards;
}

@keyframes an3 {
    0% {
        transform: translate(0vh);
    }

    100% {
        transform: translate(-100vh);
    }
}

.img-right {
    transform: translate(100vh);
    transition: all 1s linear;
    animation: an4 1s 2s 1 reverse forwards;
}

@keyframes an4 {
    0% {
        transform: translate(0vh);
    }

    100% {
        transform: translate(100vh);
    }
}

.screen2-left>div:nth-child(1) {
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-direction: normal;
    position: relative;
}

@keyframes spin {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 450px;
        top: 0px;
    }

    50% {
        left: 450px;
        top: 520px;
    }

    75% {
        left: 0px;
        top: 520px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.screen2-left>div:nth-child(2) {
    animation-name: spin2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
}

@keyframes spin2 {


    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        top: 520px;
        left: 0px;
    }

    50% {
        left: -450px;
        top: 520px;
    }

    75% {
        left: -450px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}
.screen2-left>div:nth-child(3) {
    animation-name: spin3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
}

@keyframes spin3 {


    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        top: -520px;
        left: 0px;
    }

    50% {
        left: 450px;
        top: -520px;
    }

    75% {
        left: 450px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}
.screen2-left>div:nth-child(4) {
    animation-name: spin4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
}

@keyframes spin4 {


    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        top: 0px;
        left: -450px;
    }

    50% {
        left: -450px;
        top: -520px;
    }

    75% {
        left: 0px;
        top: -520px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}


@media only screen and (min-width: 992px){
    body {
        max-width: 1920px;
    }
}

@media only screen and (max-width: 992px){
    .nav {
        padding-left: 0;
    }
}