html{
    font-size: 10px;
}

body{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

label {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 5%;
    
}

input{
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    margin-top: 3px;
    height: 25px;
    
}

.input-desc{
    font-weight: 400;
    font-size: 10px;
    color: #A8A8A8;

}

::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #CCCCCC;
    padding-left: 5px;

}

.left{
    padding-top: 1%;
    background: #FFFFFF;
    width: 50%;
    background-image: url(..//img/Stroke5.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.form{
    display: flex;
    justify-content: center;
    padding-bottom: 15%;

}

.header-logo{
    padding-top: 2%;
    padding-left: 8%;
    margin-bottom: 3%;
}

.left-title{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-top: 10%;

}

.main{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 15% 0;
}

.right{
    width: 40%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    box-sizing: border-box;
}


.right-desc{
    position: relative;
    top: 25%;
    padding: 0 10%;
}

.right-title{
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 2px 2px 2px #314856;
}

.right-author{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.8;
}

.right-menu{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: end;

}

.right-menu > div{
    margin-right: 5%;
    margin-top: 5%;
}

.signup > a{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    margin: 0 auto;
    width: 50%;
    padding: 1% 0 1% 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.user{
    font-weight: 700;
    font-size: 16px;
    color: #C4C4C4;

}

.login{
    font-weight: 700;
    font-size: 16px;
    text-decoration-line: underline;
    color: #476D73;

}

.auth{
    display: flex;
    justify-content: space-evenly;
    margin: 2% 32% 6% 32%;
}

.background{

}

.optional {
    font-weight: 400;
    font-size: 12px;
    color: #A8A8A8;
}

@media only screen and (max-width: 870px){


    .header-logo{
        padding-left: 5%;
        padding-bottom: 5%;
    }
    .right-desc{
        display: none;
    }

    .right{
        width: 0;
        background: none;
        box-shadow: none;
    }

    .main {
        display: flex;
        justify-content: center;
        
    }
    body {
        background-image: url(..//img/Stroke5ph.png);
        background-repeat: no-repeat;
        background-size: cover;

    }

    .signup > a{
        width: 90%;
    }


    .left{
        width: min-content;
        background: none;
    }

    .form{
        margin: 0 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .right-menu{
        position: absolute;
        right: 15px;
        font-size: 14px;
        color: #24445B;
    }

    .right-menu > div {
        margin-right: 15%;
    }



    .left-title{
        font-size: 18px;
        color: #24445B;
        text-align: left;
        margin-left: 5%;
    }

    ::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;       
        color: #CCCCCC;
        padding: 1%;
    
    }

    .auth{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .auth > div{
        padding: 7% 2% 0 1%;
    }

    input{
        padding: 4%;
    }

    .input-desc{
        padding-top: 3%;
    }
}