@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,400;1,700&display=swap');

html{
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
    background-color: #DCDCDC;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

.menu{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #202846;
    font-size: 2.4rem;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: 90px;
}

.menu-logo{
    padding-left: 5%;
}

.menu-list-ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-around;
}

.menu-list-ul > li{
    padding: 1%;
}

.menu-list-ul > li > a:hover{
    color: #AEAEE2;
}

.h1 {
    background-color: #C6C6DC;
    font-size: 4.8rem;
    font-style: italic;
    font-weight: 400;
    max-height: 140px;
    padding: 2.5% 10%;

}

.content{
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.content-choice{
    display: flex;
    align-items: center;
    height: 73px;
    background-color: #E8E8E8;
    margin: 3% 0;
    box-sizing: border-box;

}

.content-choice:hover{
    border: 1px solid blue;
    
}

.content-choice-title{
    font-size: 2.8rem;
    font-weight: 400;
    width: 80%;
}

.content-choice-arr{
    width: 10%;
}

.content-card{
    background-color: #BDBDC6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 300px;
    margin-bottom: 2%;
    
}

.content-card:hover{
    background: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.content-card-img{
    width: 50%;
    height: 80%;
}

.content-card-info{
    width: 50%;
    height: 80%;
}

.content-card-title{
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
    color: #353C57;
    margin-bottom: 1%;
    border-bottom: 3px solid white;
    text-align: left;
    
}

.content-card-desc{
    font-weight: 400;
    font-size: 2.2rem;
    background-color: #D7D7DD;
    color: #202846;
    padding: 4%;
}

.content-card-star, .content-card-btn{
    position: absolute;
}

.content-card-star{
    right: 1rem;
    top: 1rem;
    
}

.content-card-btn:hover{
  background-color: #EF075B;  
}

.content-card-star > svg > path:hover {
    fill: #FFFF00;
}

.content-card-btn{
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
    background: #202846;
    position: absolute;
    right: -40px;
    width: 200px;
    bottom: 10px;
    padding: 1%;
    border-radius: 50px;
    text-decoration: none;
}

.pa-card {
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    margin: 2% auto;
    width: 60%;
}

.pa-card-right{
    color: #353C57;
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
    margin: 7% 0;
    width: 60%;
}

.pa-card-left{
    margin: 6% 0;
}



.pa-card-changebtn, .pa-card-settingsbtn {
    font-weight: 400;
    font-size: 2.4rem;
    color: white;
    border-radius: 50px;
    padding: 4% 5%;
    margin: 15% 0;
    box-sizing: border-box;
    width: 300px;
}

.pa-card-changebtn{
    background-color: #69749B;
    
}

.pa-card-settingsbtn{
    background-color: #484A54;
}

.pa-card-right > div{
    border-bottom: 3px solid white;
    padding: 2%;
}


.pa-card-right div:last-child{
    border-bottom: none;
}

.pa-card-left > div {
    text-align: center;    
}

.pa-card-right > div > span{
    font-weight: 400;
}

.quit-btn{
    color: white;
    font-weight: 400;
    font-size: 2.7rem;
    background-color: #202846;
    border-radius: 50px;
    text-align: center;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 7%;
    padding: 0.5%;
}

.footer-up{
    font-weight: 400;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 16%;
}

.footer-up-phone-title, .footer-up-worktime-title, .footer-up-mail-title, .footer-down-address-title{
    border-bottom: 3px solid #202846;
}

.footer-up-phone-desc, .footer-up-worktime-desc, .footer-up-mail-desc, .footer-down-address-desc{
    margin-top: 4%;
}

.footer-up-phone-desc > a,  .footer-up-mail-desc > a {
    color: black;
}

.footer-down{
    font-weight: 400;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 16%;
}

.google-map > iframe{
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    height: 335px;
}

.footer-line{
    font-weight: 400;
    font-size: 3.6rem;
    color: #EEECF1;
    background-color: #202846;
}

.footer-line{
    padding: 1% 0% 1% 7%;
}

.btn-up{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.btn-up:hover > a > svg > circle{
    fill: #202846;
}

:hover{
    transition: 0.15s;
}