.main{
    
}

.dia {
    background-color: black ;
    height: 512px;
    width: 512px;
    text-align: center;
    display: inline-block; /* не впевнений що це правильно, тим паче для кожного діву. Чому коли я приміняв ці два параметри для класу .main, то це не спрацювало? */
    vertical-align: top; /* не впевнений що це правильно, тим паче для кожного діву */

}

.dia-img{
    padding-top: 128px;
}

.flag{

}

.square{
    background-image: url("../img/Speechify\ -\ Square.png");
    width: 512px;
    height: 512px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}

.glyph{
    text-align: center;
    padding-top: 144px;
    

}

.circle{
    background-image: url("../img/Speechify\ -\ Circle.png");
    width: 512px;
    height: 512px;
    text-align: center;
    display: inline-block; 
    vertical-align: top;

}

.glyph-circle{
    text-align: center;
    padding-top: 240px;
    
}