body{
    margin: 0;
}

header{
    width: 800px;
    height: 200px;
    border: 3px solid red;
    box-sizing: border-box;
    border-bottom: none;


}

nav{
    width: 100px;
    height: 400px;
    border: 3px solid orange;
    box-sizing: border-box;
    border-bottom: none;
}

section{
    width: 700px;
    height: 400px;
    border: 3px solid orange;
    box-sizing: border-box;
    border-bottom: none;
}

footer{
    width: 800px;
    height: 200px;
    border: 3px solid grey;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
}