body {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

#root > div {
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    margin: 1%;
    border-radius: 5px;
    padding: 2%;
}

#root > div > :nth-child(2) {
    font-style: italic;
    font-size: 1.5rem;
    margin: 1% 0;
}

#root > div > :nth-child(1) {
    font-style: bold;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1% 0;
}

#root > div > :nth-child(3) > span {
    font-style: italic;
    color: silver;
}

#root > div > :nth-child(4) > span {
    font-style: italic;
    color: silver;
}