body {
    font-family: 'Inika', serif;
    max-width: 1920px;
    margin: 0;
}

.header {
    font-family: 'M PLUS 1', sans-serif;
    color: #3E45E8;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 31px;
    letter-spacing: 0.1em;
}

.header-span {
    color: #E8C23E;
}

.banner {
    background-image: url("../img/image\ 1.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    padding-top: 185px;
    box-sizing: border-box;
}

.content {
    background-image: url("../img/flag.png");
    height: 272px;
    width: 58%;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    padding-left: 2%;
    box-sizing: border-box;
    line-height: 157.3%;
}

.h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 72px;
}

.line {
    border-bottom: 5px solid #3E45E8;
    max-width: 402px;
    margin-top: 25px;
    margin-bottom: 33px;
}

.main {
    margin-top: 25px;
    padding-left: 80px;
}

.card {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    height: 481px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border-color: transparent;
}

.card-margin {
    margin-right: 60px;
}

.card-img {
    width: 100%;
}

.card-title {
    font-size: 24px;
    color: #1E8DF2;
    font-weight: 700;
    padding: 10px;
}

.card-subtitle{
    font-size: 24px;
    font-weight: 400;
    color: #E8C23E;
    width: 75%;
    padding-left: 10px;
    
}

.handblock{
    display: flex;
}

.uk-block{
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    font-weight: 700;
}

.line-center{
    border-bottom: 5px solid #3E45E8;
    margin: 0 39%;
    padding-top: 21px;

}

.uk{
     padding-top: 41px;
}

.button{
    background: #2A61F0;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 92px;

}
.footer{
    background: #2F4A4B;
    text-align: center;
    font-family: 'Marcellus SC';
    box-sizing: border-box;
}

.footer-text{
    font-family: 'M PLUS 1', sans-serif;
    color: #3E45E8;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin-top: 25px;
    letter-spacing: 0.1em;
}

.footer-span{
    color: #E8C23E;
}

.mail{
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
    padding-top: 21px;
    line-height: 45px;
    letter-spacing: 0.1em;
}

.phone{
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
    padding-top: 21px;
    line-height: 45px;
    letter-spacing: 0.1em;
}

.social{
    padding-top: 21px;
}

.socialicon{
    text-align: center;
    display: inline-block;
}

